<div class="col-lg-offset-4 col-lg-4 col-sm-offset-3 col-sm-6 col-xs-12">
  <form (ngSubmit)="onSubmit(registrationForm)" #registrationForm="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input
              type="text"
              class="form-control"
              id="name"
              placeholder="Name"
              name="name"
              [ngModel]="user.name"
              required
              #nameInput="ngModel"
      >
      <div *ngIf="nameInput.invalid && nameInput.touched" class="text-danger">
        Name is required!
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input
              type="email"
              class="form-control"
              id="email"
              placeholder="Email"
              name="email"
              [ngModel]="user.email"
              required
              pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
              #emailInput="ngModel"
      >
      <div *ngIf="emailInput.invalid && emailInput.touched" class="text-danger">
        Invalid email address!
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
              type="password"
              class="form-control"
              id="password"
              placeholder="Password"
              name="password"
              [ngModel]="user.password"
              required
              #passwordInput="ngModel"
              validateEqual="repeatPassword"
              reverse="true"
      >
      <div *ngIf="passwordInput.invalid && passwordInput.touched" class="text-danger">
        Password is required!
      </div>
    </div>
    <div class="form-group">
      <label for="repeat-password">Repeat Password</label>
      <input
              type="password"
              class="form-control"
              id="repeat-password"
              placeholder="Password"
              name="repeatPassword"
              required
              [ngModel]="user.repeatPassword"
              #passwordRepeatInput="ngModel"
              validateEqual="password"
      >
      <div *ngIf="passwordRepeatInput.invalid && passwordRepeatInput.touched" class="text-danger">
        Password and Repeat password field should be equal!
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-default form-control" [disabled]="registrationForm.invalid">Submit</button>
    </div>
  </form>
</div>